<div class="company-ever">
    <div class="container">
        <div class="row company-bg">
            <div class="col-md-6">
                <div class="company-thumb">
                    <img src="assets/img/featured/img-1.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h2>{{ company.tituloBienvenida }}</h2>
                    <p>{{ company.descripcionBienvenida }}</p>
                    <div class="compayt-button">
                        <a href="#" class="btn btn-effect">Contactenos <i class="icon-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .container -->
</div>
