<div class="client section">
    <div class="container">
        <!-- Start Heading -->
        <div class="heading">
            <div class="section-title">Nuestros <span>Clientes</span></div>
        </div>
        <!-- End Heading -->
        <!-- Some Text -->
        <p class="description text-center">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered altertion in
            <br> some form, by injected humour, or randomised words which don,t look even slightly believable
        </p>
        <div class="row">
            <div id="client-logo" class="touch-carousel">
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-01.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-02.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-03.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-04.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-05.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-06.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-07.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="client-logo item">
                    <div class="client-item">
                        <a href="#">
                            <img src="assets/img/clients/logo-08.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
