<footer>
    <div class="container">
        <div class="row footer-widgets">
            <!-- Start Contact Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4>
                        <img src="assets/img/Logo_Solman2.png" class="img-responsive" alt="Footer Logo"/>
                    </h4>
                    <p>
                        There are many variations of passages of lorem Ipsum available, but the majority have suffered
                        alteration in some forem there are many varations</p>
                </div>
            </div>
            <!-- End Contact Widget -->

            <!-- Start latest Work Posts Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget flickr-widget">
                    <h4>
                        Trabajos anteriores
                    </h4>
                    <ul class="flickr-list">
                        <li>
                            <a href="assets/img/work/img-1.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-1.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="assets/img/work/img-2.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-2.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="assets/img/work/img-3.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-3.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="assets/img/work/img-4.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-4.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="assets/img/work/img-5.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-5.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="assets/img/work/img-6.jpg" class="lightbox">
                                <img alt="" src="assets/img/work/img-6.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End latest Work  Widget -->

            <!-- Start Address Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4>
                        Oficina Solman
                    </h4>
                    <ul class="address">
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i> Calle 70B N° 30 - 36</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i> (300)431-1351, (301)755-6619</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> contactos@solman-ingenieria.com</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fax"></i> FAX:(123) 123-4567</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Address Widget -->

            <!-- Start Text Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget hours-widget">
                    <h4>
                        Horarios de trabajo
                    </h4>
                    <div class="contact-info">
                        <p>Solicite sus cotizaciones en los horarios establecidos o por correo po fuera de la hora y tendra respuesta al dia siguiente.</p>
                        <ul class="hours">
                            <li>Lunes - Viernes: <span>8am a 6pm</span></li>
                            <li>Sabado: <span>9am to 1pm</span></li>
                            <li>Cerrado: <span>Cerrado</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Text Widget -->

        </div>
        <!-- .row -->
    </div>
</footer>
